@charset "UTF-8";

@media all and (min-width: 768px) {
    /**
        header gnb
     */
    .header {
        height: unset !important;
    }
}

@media all and (min-width: 940px) and (max-width: 1279px) {
    /**
        portfolio sites
    */
    .site-list-wrap {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

@media all and (max-width: 1310px) {
    /**
        defalut
    */
    .nav,
    .section,
    .information-view,
    .footer-info-wrap {
        padding: 0 30px 0 30px;
    }
}

@media all and (max-width: 767px) {
    /**
        defalut
    */
    .nav,
    .section,
    .information-view,
    .footer-info-wrap {
        max-width: 100%;
    }

    /**
        common
    */
    .json-type-1 dl {
        padding: 30px 0 60px 40px;
    }
    .title {
        font-size: 44px;
    }
    .sub-title {
        font-size: 20px;
    }
    .modal-wrap {
        width: 100%;
        max-width: 650px;
    }

    /**
        header gnb
     */
    .nav .mobile-menu-btn {
        position: fixed;
        right: 30px;
        display: block;
        z-index: 9999;
    }
    .nav .mobile-menu-btn svg {
        position: relative;
    }
    .nav .mobile-menu-btn svg.close-icon {
        right: -10px;
    }
    .nav .menu {
        position: fixed;
        top: 0;
        right: -100%;
        display: grid;
        justify-items: center;
        align-content: center;
        gap: 60px;
        width: 100%;
        height: 100%;
        transition: right 0.3s ease-in-out;
        background: #000000;
    }
    .nav .menu li {
        font-size: 30px;
    }
    .nav .menu li.sign-in-out button {
        font-size: 24px;
    }

    /**
        footer
    */
    .footer-info {
        display: block;
    }
    .copyright {
        text-align: unset;
        margin: 20px 0 0 0;
    }
}

@media all and (max-width: 620px) {
    .site-list-wrap {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media all and (max-width: 520px) {
    /**
        defalut
    */
    .nav,
    .section,
    .information-view,
    .footer-info-wrap {
        padding: 0 20px 0 20px;
    }

    /**
        common
    */
    .title {
        font-size: 38px;
    }
    .sub-title-wrap {
        gap: 5px;
        margin: 0px 0px 30px 0px;
    }
    .sub-title {
        font-size: 16px;
    }
    .json-type-1 strong {
        font-size: 40px;
    }
    .json-type-1 dl {
        padding: 30px 0 50px 20px;
    }
    .json-type-1 dl dt {
        font-size: 26px;
    }
    .json-type-1 dl strong {
        font-size: 28px;
    }
    .json-type-2 {
        padding: 40px 0 40px 0;
        border-left: none;
    }
    .ide-style .json-type-2 {
        padding: 40px 20px 40px 20px;
    }
    .modal-wrap {
        max-width: 380px;
        height: 100%;
        overflow-y: scroll;
    }
    .modal-date-box-wrap {
        display: block;
    }
    .modal-title h2 {
        font-size: 22px;
    }
    .popup-wrap {
        width: 100%;
    }

    /**
        about
    */
    .about-content ul li {
        display: block;
        margin: 0px 0px 50px 0px;
    }
    .about-content ul li > span:first-child {
        display: inline-block;
        margin: 0px 0px 10px 0px;
    }

    /**
        portfolio sites
    */
    .tab-menu {
        margin: 0px 0px 40px 0px;
    }
    .tab-menu ul {
        gap: 15px 30px;
    }
    .site-list-box {
        width: unset !important;
    }
    .site-detail-view .site-detail-view-type {
        font-size: 18px;
    }
    .site-detail-view .site-detail-view-title {
        font-size: 20px;
    }
    .site-detail-view .site-detail-view-description {
        -webkit-line-clamp: 5;
        word-break: break-all;
    }

    /**
        use skills
    */
    .swiper-tool-container {
        padding: 0px 0px 100px 0px;
    }

    /**
        footer
    */
    .footer {
        padding: 50px 0px 30px 0px;
    }
    .footer dl dt {
        font-size: 22px;
    }
    .footer dl dd #channelTalk {
        font-size: 32px;
    }
    .copyright {
        text-align: left;
    }
    .footer-sns {
        text-align: left;
    }
}
